.warningColorPlaceholder::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
}

.warningColorPlaceholder:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}

.warningColorPlaceholder::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}
